.my_bg{background-color:#f5f5f5;}
.my_font{
	font-family: Microsoft Yahei;
    font-size: 16px;
	}

.breadcrumb-item + .breadcrumb-item::before {
  color: #635859;
  content: "|";
}
.breadcrumb {
  background-color: transparent;
}
ul>li>a{color:#635859;}
ul>li>a:hover{
	color: #e9546b;
	text-decoration: none;
	}
.font_grey{color:#b4b4b4;}
p>span>a,p>span>a:hover{color: #000000;text-decoration: none;}